# VuePress default temp directory
src/.vuepress/.temp
# VuePress default cache directory
src/.vuepress/.cache
# VuePress default build output directory
.vuepress/dist
pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist
